/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/modules.xml
.idea/phpunit.xml
.idea/SeatReservationSystem.iml
app/.idea/app.iml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/php.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
.idea/misc.xml
.idea/php.xml
phpDocumentor.phar
public/js/app.js
public/vendor/binarytorch/larecipe/assets/js/app.js
public/vendor/binarytorch/larecipe/assets/fonts/nucleo-icons.woff2
public/vendor/binarytorch/larecipe/assets/fonts/nucleo-icons.woff
public/vendor/binarytorch/larecipe/assets/fonts/nucleo-icons.ttf
public/vendor/binarytorch/larecipe/assets/fonts/nucleo-icons.svg
public/vendor/binarytorch/larecipe/assets/fonts/nucleo-icons.eot
public/vendor/binarytorch/larecipe/assets/fonts/fa-solid-900.woff2
public/vendor/binarytorch/larecipe/assets/fonts/fa-solid-900.woff
public/vendor/binarytorch/larecipe/assets/fonts/fa-solid-900.ttf
public/vendor/binarytorch/larecipe/assets/fonts/fa-solid-900.svg
public/vendor/binarytorch/larecipe/assets/fonts/fa-solid-900.eot
public/vendor/binarytorch/larecipe/assets/fonts/fa-regular-400.woff2
public/vendor/binarytorch/larecipe/assets/fonts/fa-regular-400.woff
public/vendor/binarytorch/larecipe/assets/fonts/fa-regular-400.ttf
public/vendor/binarytorch/larecipe/assets/fonts/fa-regular-400.svg
public/vendor/binarytorch/larecipe/assets/fonts/fa-regular-400.eot
public/vendor/binarytorch/larecipe/assets/fonts/fa-brands-400.woff2
public/vendor/binarytorch/larecipe/assets/fonts/fa-brands-400.woff
public/vendor/binarytorch/larecipe/assets/fonts/fa-brands-400.ttf
public/vendor/binarytorch/larecipe/assets/fonts/fa-brands-400.svg
public/vendor/binarytorch/larecipe/assets/fonts/fa-brands-400.eot
public/vendor/binarytorch/larecipe/assets/css/font-awesome.css
public/vendor/binarytorch/larecipe/assets/css/font-awesome-v4-shims.css
public/vendor/binarytorch/larecipe/assets/css/app.css
.idea/php.xml
