/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/modules.xml
.idea/phpunit.xml
.idea/SeatReservationSystem.iml
app/.idea/app.iml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/php.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
.idea/misc.xml
.idea/php.xml
phpDocumentor.phar
public/js/app.js
public/vendor/binarytorch/larecipe/*
.idea/php.xml
/public/uploads/floor_plan/
!/public/uploads/floor_plan/0eY1wyZ5q1EogQtIRgbfQQfG6kqRcqqr39fdxAO7.png
/out/
.idea
